<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect everything except azurewebsites.net -->
                <rule name="Redirect to new domain" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(?!.*azurewebsites\.net).*" />
                        <add input="{APPSETTING_REDIRECT_DOMAIN}" pattern=".+" />
                        <add input="{APPSETTING_ASPNETCORE_ENVIRONMENT}" pattern="^Production$" />
                    </conditions>
                    <action type="Redirect" url="https://{APPSETTING_REDIRECT_DOMAIN}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>