@page "/"

@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<div class="bg-body-tertiary p-5 rounded">
    <h1>Welcome, Future Minister of Truth!!</h1>

    <p>Enter your name to claim your position and begin shaping the Emperor’s legacy. The Empire awaits your service!</p>

    <input type="text" placeholder="Username" @bind-value="@Username"/>
    <button class="btn btn-primary" @onclick="StartGameAsync">Start</button>
    
    <div class="text-center p-5">
        <img class="img-fluid" src="img/logo.jpeg" alt="Logo"/>
    </div>
</div>

@code {
    [Inject]
    private GameService GameService { get; set; }

    private string? Username { get; set; } = "Username";
    
    public async Task StartGameAsync()
    {
        if (string.IsNullOrWhiteSpace(Username))
        {
            // Show an error message or handle validation
            return;
        }

        var game = await GameService.NewGame(Username);
        await ProtectedSessionStore.SetAsync("game", game);
        NavigationManager.NavigateTo("/game");
    }
}