@page "/"

@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<div class="bg-body-tertiary p-5 rounded">
    <h1>Welcome, Future Minister of Truth!!</h1>

    <p>Ever dreamed of shaping an empire’s destiny through the power of words? As the Emperor’s trusted propaganda officer, you’ll rewrite history one scandal at a time. Spin the truth, sway the factions, and keep the Empire from crumbling—all from the comfort of your desk!</p>

    <p>In this satirical fantasy world, your wits and creativity will be tested against the unrelenting cynicism of Elves, the brute strength of Orcs, the pride of Dwarves, and the opportunism of Humans. The question is, will they believe your spin?</p>

    <p>Don’t just be a spectator—become the voice of the Empire. Enter your name to claim your position and begin shaping the Emperor’s legacy. The Empire awaits your service!</p>


    <input type="text" placeholder="Username" @bind-value="@Username"/>
    <button class="btn btn-primary" @onclick="StartGameAsync">Start</button>
    
    <div class="text-center p-5">
        <img class="img-fluid" src="img/logo.jpeg" alt="Logo"/>
    </div>
</div>

@code {
    [Inject]
    private GameService GameService { get; set; }

    private string? Username { get; set; } = "Username";
    
    public async Task StartGameAsync()
    {
        if (string.IsNullOrWhiteSpace(Username))
        {
            // Show an error message or handle validation
            return;
        }

        var game = await GameService.NewGame(Username);
        await ProtectedSessionStore.SetAsync("game", game);
        NavigationManager.NavigateTo("/game");
    }
}